b,h1,h2,h3,h4,h5,h6,label,optgroup,strong {
    font-weight: 700
}



html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}



a {
    background-color: transparent
}



h1 {
    margin: .67em 0
}


pre,textarea {
    overflow: auto
}


button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}



input {
    line-height: normal
}



.w-clearfix:after,.w-clearfix:before,.w-embed:after,.w-embed:before,.w-radio:after,.w-radio:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    color: #333
}



.w-clearfix:after,.w-clearfix:before {
    display: table
}

.w-clearfix:after {
    clear: both
}



.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    -webkit-appearance: button
}



.w-container:after,.w-embed:after,.w-radio:after,.w-row:after,.w-slider {
    clear: both
}


.w-form-done,.w-slider,.w-widget-map .gm-style-iw,.w-widget-twitter-count-shim,figcaption {
    text-align: center
}



h1,h3 {
    margin-top: 20px
}

.t{
    margin-top: 30px;
}

ol,p,ul {
    margin-top: 0
}

h1,h2,h3,h4,h5,h6,ol,p,ul {
    margin-bottom: 10px
}



.w-form {
    margin: 0 0 15px
}

/* .w-form-done {
    display: none;
    padding: 20px;
    background-color: #ddd
} */

#thank-you-message{
    display: none;
    padding: 20px;
    background-color: #ddd
}
#thank-you-message.show{
    display: block;
    padding: 20px;
    background-color: #ddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

label {
    display: block;
    margin-bottom: 5px
}

.w-input,.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc
}

.w-select[multiple],textarea.w-input,textarea.w-select {
    height: auto
}


.w-input::-webkit-input-placeholder,.w-select::-webkit-input-placeholder {
    color: #999
}



.w-container:after,.w-container:before,.w-row:after,.w-row:before {
    display: table;
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}



.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}



.w-lightbox-backdrop,.w-nav-button {
    -webkit-tap-highlight-color: transparent
}



.w-lightbox-backdrop,.w-nav-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}


.w-nav-link,.w-tab-link {
    vertical-align: top;
    text-decoration: none
}



.w-nav:after,.w-nav:before,.w-tabs:after,.w-tabs:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}



.w-nav,.w-nav-brand,.w-nav-link,.w-nav-menu {
    position: relative
}



.w-nav:after,.w-tabs:after {
    clear: both
}

.w-nav {
    background: #ddd;
    z-index: 1000
}

.w-nav:after,.w-nav:before {
    display: table
}



.w-nav-link {
    display: inline-block;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.w-nav-link.w--current {
    color: #0082f3
}

.w-nav-menu {
    float: right
}



.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%
}



.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    tap-highlight-color: transparent;
    user-select: none
}



body {
    font-size: 14px;
    line-height: 20px
}

h1 {
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none
}



a {
    text-decoration: underline
}



.body {
    background-color: #000;
    background-image: url(./bgimage.jpg);
    background-position: 60% 0;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff
}



.content-parent,.title-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    position: static
}


.content-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}



.title {
    margin-top: 0;
    margin-bottom: 10px
}



.block-title,.form-submit,.nav-link {
    text-align: center
}



.chevron,.chevron-small,.link {
    color: #f0860c;
    text-decoration: none
}

.link {
    font-weight: 300
}

.chevron,.form-label,.link.footer-link {
    font-weight: 400
}



.form-input,.form-submit,.form-success {
    background-color: rgba(27,27,27,.91)
}

.chevron-back {
    background-image: url(https://uploads-ssl.webflow.com/591e9525f13786217f2e347e/592b85d39b3b9e5897ca08c3_chevron-back.png);
    background-size: 8px
}

.form-input {
    max-width: 650px;
    border-style: none;
    border-width: 1px;
    border-color: hsla(0,0%,100%,0);
    border-radius: 10px;
    color: #fff
}

.form-input.form-message {
    min-height: 128px
}

.form-submit {
    min-height: 48px;
    min-width: 118px;
    margin-top: 10px;
    border-radius: 12px;
    color: #f0860c;
    font-size: 18px;
    font-weight: 500
}

.form-parent {
    margin-top: 30px;
    color: #fff
}

.form-success {
    min-height: 367px;
    border-radius: 12px
}

.form-error {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 12px;
    background-color: rgba(83,26,26,.91)
}



.inline-parent {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(7,7,7,.9)),to(rgba(7,7,7,.9)));
    background-image: linear-gradient(180deg,rgba(7,7,7,.9),rgba(7,7,7,.9))
}

.inline-parent.inline-hero {
    margin-top: 0;
    padding: 120px 45% 80px 100px;
    background-image: none
}



.horizontal-rule,.nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-direction: normal
}



.navbar-desktop {
    position: fixed;
    display: block;
    width: 100%;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(7,7,7,.93)
}

.nav-menu-2 {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    float: none;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.nav-link-contact {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    color: #fff
}

.nav-link-desktop {
    left: 0;
    top: 0;
    right: 0;
    padding: 15px 40px 15px 0;
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em
}

.nav-link-desktop.w--current {
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #f0860c;
    font-weight: 500
}

.nav-link-desktop.nav-link-contact {
    position: relative;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0;
    float: right;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right
}

.nav-link-desktop.nav-link-nad {
    font-weight: 400
}



.paragraph {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300
}

.paragraph.content-paragraph {
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300
}


